<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
		<meta name="description" content="Auto Mart is an online marketplace for automobiles of diverse makes, model or body type. With Auto Mart, users can sell their cars or buy from trusted dealerships or private sellers.">
		<title>All Posted Ads - Auto Mart</title>

		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
		
		<link href="/css/general.css" rel="stylesheet">
		<link href="/css/admin.css" rel="stylesheet">
		
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>
	<body>
		<div class="container">
			<header>
				<nav>
					<a href="./index"><img src="/images/automart-full-logo-250px.png" width="150"></a>
					<div class="menu-bar">
						<span class="menu-btn"><i class="fa fa-bars"></i><i class="fa fa-times hide"></i></span>
						<ul class="menu-list">
							<li><a href="./users-list">Registered Users</a></li>
							<li class="current"><a href="./admin">Posted Car Ads</a></li>
							<li class="dropdown">
								<span class="user-info">
									<span class="user-avater fas fa-user-circle"></span> <i class="fa fa-caret-down"></i>
								</span>
								<ul class="dropdown-list"></a>
									<li class="signin-as"><p>You are signed in as:<br><span class="user-name"></span></p></li><li><a href="javascript:void(0)">Your Profile</a></li>
									<li><a href="javascript:void(0)" class="logout">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<div class="content">
				<div class="filter-sidebar">
					<h2>Filter List <span id="filter-dd-btn"><i class="fa fa-bars"></i><i class="fa fa-times hide"></i></span></h2>
					<div id="filter-container">
						<div class="filter-attr">
							<h3>Car Status</h3>
							<div class="car-state-group">
								<label>
									<input type="radio" name="status" class="status common-seletor" checked>
									All
								</label>
								<label>
									<input type="radio" name="status" class="status common-seletor" value="Sold">
									Sold
								</label>
								<label>
									<input type="radio" name="status" class="status common-seletor" value="Available">
									Unsold
								</label>
							</div>
						</div>
						<div class="filter-attr">
							<h3>Car State</h3>
							<div class="car-state-group">
								<label>
									<input type="radio" name="state" class="state common-seletor" checked>
									All
								</label>
								<label>
									<input type="radio" name="state" class="state common-seletor" value="New">
									New
								</label>
								<label>
									<input type="radio" name="state" class="state common-seletor" value="Used">
									Used
								</label>
							</div>
						</div>
						<div class="filter-attr">
							<h3>Price Range</h3>
							<div class="price-range">
								<input type="text" class="price min-price common-seletor" data-type="number" min="1000" placeholder="Min Price(&#8358)">
								<input type="text" class="price max-price common-seletor" data-type="number" min="1000" placeholder="Max Price(&#8358)">
							</div>
						</div>
						<div class="filter-attr">
							<h3>Manufacturer</h3>
							<div class="manufacturer-group">
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" checked>
									All
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Mercedes-Benz">
									Mercedes-Benz
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Porsche">
									Porsche
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Volkswagen">
									Volkswagen
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Honda">
									Honda
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Toyota">
									Toyota
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Ferrari">
									Ferrari
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="BMW">
									BMW
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Chevrolet">
									Chevrolet
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Ford">
									Ford
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Cobra">
									Cobra
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Cadillac">
									Cadillac
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Jaguar">
									Jaguar
								</label>
							</div>
						</div>
						<div class="filter-attr">
							<h3>Body Type</h3>
							<div class="body-type-group">
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" checked>
									All
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Micro">
									Micro
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Convertible">
									Convertible
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Large Van">
									Large Van
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Large SUV">
									Large SUV
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Small Van">
									Small Van
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Coupe">
									Coupe
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Sudan">
									Sudan
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Truck">
									Truck
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Truck Cab">
									Truck Cab
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="MPV">
									MPV
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Pick Up">
									Pick Up
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Hatch">
									Hatch
								</label>
							</div>
						</div>
					</div>
				</div>

				<main class="main-75">
					<h2>All Posted ADs by Users</h2>
					<ul class="car-list">
						<!-- <li class="car-card flex-container">
							<div class="car-image">
								<img src="/images/car-samples/car-sample-1.jpg" title="Preview AD">
								<label class="car-state-tag">New</label>
							</div>
							<div class="car-info">
								<h3 class="c-details-list">2010 Honda CX422</h3>
								<label class="car-status-tag">Unsold</label>
								<p class="car-price">&#8358 5,200,000</p>
								<p><b>Body type:</b> Salon Car</p>
								<p>Posted by: Stephen D.<span>, on: 23-April-2019 12:45am</span></p>
								
							</div>
							<div class="admin-actions">
								<button class="view-reports full-btn btn">View Reports</button>
								<button class="delete full-btn btn">Delete AD</button>
							</div>
						</li>
						 -->
					</ul>
				</main>
			</div>
			
			<footer>
				<div class="inner-div">
					<p>Auto-Mart 2019 &#169</p>
					<div class="footer-right">
						<p>ADC Project by</p>
						<ul>
							<a href="https://twitter.com/Chuksjoe" target="_blank"><li><i class="fab fa-twitter" aria-hidden="true"></i></li></a>
							<a href="https://www.linkedin.com/in/chukwunonso-orjiakor" target="_blank"><li><i class="fab fa-linkedin-in" aria-hidden="true"></i></li></a>
							<a href="https://github.com/chuksjoe" target="_blank"><li><i class="fab fa-github" title="chuksjoe's DEV Profile"></i></li></a>
							<a href="https://codepen.io/chuksjoe" target="_blank"><li><i class="fab fa-codepen" title="chuksjoe's DEV Profile"></i></li></a>
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<!-- Modal view to view a specific car -->
		<div id="car-preview-overlay" class="overlay">
			<div class="lg-m-v">
				<h2 class="modal-header"></h2>
				<p class="added-date"></p>
				<div id="close-car-preview" class="fa fa-times close-btn"></div>
				<div class="modal-body">
					<div class="car-view-detail flex-container">
						<div class="car-view-image">
							<img src="">
						</div>
						<div class="car-view-main-desc">
							<!-- <p class="c-price">Price: &#8358 23,000,000</p>
							<div class="prop-list flex-container">
								<p class="prop"><b>Make:</b><br>Volkswagen</p>
								<p class="prop"><b>Model:</b><br>Cx3</p>
								<p class="prop"><b>State:</b><br>Brand New</p>
								<p class="prop"><b>Body Type:</b><br>Convertible</p>
								<p class="prop"><b>Color:</b><br>Blue</p>
								<p class="prop"><b>Year:</b><br>2001</p>
								<p class="prop"><b>Fuel Type:</b><br>Petrol</p>
								<p class="prop"><b>Fuel Capacity:</b><br>76L</p>
								<p class="prop"><b>Mileage:</b><br>74,544km</p>
								<p class="prop"><b>Transmission:</b><br>Automatic</p>
								<p class="prop"><b>Engine Detail:</b><br>2.8 Turbo Diesel</p>
								<p><a href="#">Full Details >></a></p>
							</div>
							<div class="btn-group flex-container">
								<button id="order-from-car-preview" class="half-btn btn">Place Order</button>
								<button id="flag-fraud" class="half-btn btn">Flag Fradulent AD</button>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal view for All Notifications -->
		<div id="notification-overlay" class="overlay">
			<div class="modal-view sm-m-v">
				<h2 class="modal-header">Notification</h2>
				<div class="modal-body">
					<div class="message"></div>
					<button class="full-btn btn close-notification">Close</button>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<script src="/js/general.js"></script>
		<script src="/js/filter-response.js"></script>
		<script src="/js/admin.js"></script>
	</body>
</html>