<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
		<meta name="description" content="Auto Mart is an online marketplace for automobiles of diverse makes, model or body type. With Auto Mart, users can sell their cars or buy from trusted dealerships or private sellers.">
		<title>Marketplace - Auto Mart</title>

		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
		
		<link href="/css/general.css" rel="stylesheet">
		<link href="/css/marketplace.css" rel="stylesheet">
		
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>
	<body>
		<div class="container">
			<header>
				<nav>
					<a href="./index"><img src="/images/automart-full-logo-250px.png" width="150"></a>
					<div class="menu-bar">
						<span class="menu-btn"><i class="fa fa-bars"></i><i class="fa fa-times hide"></i></span>
						<ul class="menu-list">
							<span class="member-nav">
								<li><a href="./post-new-ad">Post New AD</a></li>
								<li class="current"><a href="./marketplace">Marketplace</a></li>
								<li><a href="./my-posted-ads">My ADs</a></li>
								<li class="dropdown"><a href="javascript:void(0)">History <i class="fa fa-caret-down"></i></a>
									<ul class="dropdown-list"></a>
										<li><a href="./sales-history">Sales History</a></li>
										<li><a href="./purchase-history">Purchase History</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<span class="user-info">
										<span class="user-avater fas fa-user-circle"></span> <i class="fa fa-caret-down"></i>
									</span>
									<ul class="dropdown-list"></a>
										<li class="signin-as"><p>You are signed in as:<br><span class="user-name"></span></p></li><li><a href="javascript:void(0)">Your Profile</a></li>
										<li><a href="javascript:void(0)" class="logout">Logout</a></li>
									</ul>
								</li>
							</span>
							<span class="visitor-nav">
								<li class="current"><a href="./marketplace">Marketplace</a></li>
								<li><a href="https://documenter.getpostman.com/view/7607196/S1TYWGgG" target="_blank">Doc</a></li>
								<li><a href="./signin">Sign In</a></li>
								<li><a href="./signup">Sign Up</a></li>
							</span>
						</ul>
					</div>
				</nav>
			</header>

			<div class="content">
				<div class="filter-sidebar">
					<h2>Filter List <span id="filter-dd-btn"><i class="fa fa-bars"></i><i class="fa fa-times hide"></i></span></h2>
					<div id="filter-container">
						<div class="filter-attr">
							<h3>Car State</h3>
							<div class="car-state-group">
								<label>
									<input type="radio" name="state" class="state common-seletor" checked>
									All
								</label>
								<label>
									<input type="radio" name="state" class="state common-seletor" value="New">
									New
								</label>
								<label>
									<input type="radio" name="state" class="state common-seletor" value="Used">
									Used
								</label>
							</div>
						</div>
						<div class="filter-attr">
							<h3>Price Range</h3>
							<div class="price-range">
								<input type="text" class="price min-price common-seletor" data-type="number" min="1000" placeholder="Min Price(&#8358)">
								<input type="text" class="price max-price common-seletor" data-type="number" min="1000" placeholder="Max Price(&#8358)">
							</div>
						</div>
						<div class="filter-attr">
							<h3>Manufacturer</h3>
							<div class="manufacturer-group">
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" checked>
									All
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Mercedes-Benz">
									Mercedes-Benz
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Porsche">
									Porsche
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Volkswagen">
									Volkswagen
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Honda">
									Honda
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Toyota">
									Toyota
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Ferrari">
									Ferrari
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="BMW">
									BMW
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Chevrolet">
									Chevrolet
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Ford">
									Ford
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Cobra">
									Cobra
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Cadillac">
									Cadillac
								</label>
								<label>
									<input type="radio" name="manufacturer" class="manufacturer common-seletor" value="Jaguar">
									Jaguar
								</label>
							</div>
						</div>
						<div class="filter-attr">
							<h3>Body Type</h3>
							<div class="body-type-group">
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" checked>
									All
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Micro">
									Micro
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Convertible">
									Convertible
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Large Van">
									Large Van
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Large SUV">
									Large SUV
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Small Van">
									Small Van
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Coupe">
									Coupe
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Sudan">
									Sudan
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Truck">
									Truck
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Truck Cab">
									Truck Cab
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="MPV">
									MPV
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Pick Up">
									Pick Up
								</label>
								<label>
									<input type="radio" name="body-type" class="body-type common-seletor" value="Hatch">
									Hatch
								</label>
							</div>
						</div>
					</div>
				</div>

				<main class="main-75">
					<h2>Available Cars for Sale</h2>
					<ul class="car-list flex-container"></ul>
				</main>
			</div>
			
			<footer>
				<div class="inner-div">
					<p>Auto-Mart 2019 &#169</p>
					<div class="footer-right">
						<p>ADC Project by</p>
						<ul>
							<a href="https://twitter.com/Chuksjoe" target="_blank"><li><i class="fab fa-twitter" aria-hidden="true"></i></li></a>
							<a href="https://www.linkedin.com/in/chukwunonso-orjiakor" target="_blank"><li><i class="fab fa-linkedin-in" aria-hidden="true"></i></li></a>
							<a href="https://github.com/chuksjoe" target="_blank"><li><i class="fab fa-github" title="chuksjoe's DEV Profile"></i></li></a>
							<a href="https://codepen.io/chuksjoe" target="_blank"><li><i class="fab fa-codepen" title="chuksjoe's DEV Profile"></i></li></a>
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<!-- Modal view to view a specific car -->
		<div id="car-preview-overlay" class="overlay">
			<div class="lg-m-v">
				<h2 class="modal-header"></h2>
				<p class="added-date"></p>
				<div id="close-car-preview" class="fa fa-times close-btn"></div>
				<div class="modal-body">
					<div class="car-view-detail flex-container">
						<div class="car-view-image">
							<img src="">
						</div>
						<div class="car-view-main-desc">
							<!-- <p class="c-price">Price: &#8358 23,000,000</p>
							<div class="prop-list flex-container">
								<p class="prop"><b>Make:</b><br>Volkswagen</p>
								<p class="prop"><b>Model:</b><br>Cx3</p>
								<p class="prop"><b>State:</b><br>Brand New</p>
								<p class="prop"><b>Body Type:</b><br>Convertible</p>
								<p class="prop"><b>Color:</b><br>Blue</p>
								<p class="prop"><b>Year:</b><br>2001</p>
								<p class="prop"><b>Fuel Type:</b><br>Petrol</p>
								<p class="prop"><b>Fuel Capacity:</b><br>76L</p>
								<p class="prop"><b>Mileage:</b><br>74,544km</p>
								<p class="prop"><b>Transmission:</b><br>Automatic</p>
								<p class="prop"><b>Engine Detail:</b><br>2.8 Turbo Diesel</p>
								<p><a href="#">Full Details >></a></p>
							</div>
							<div class="btn-group flex-container">
								<button id="order-from-car-preview" class="half-btn btn">Place Order</button>
								<button id="flag-fraud" class="half-btn btn">Flag Fradulent AD</button>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal view for purchase order -->
		<div id="purchase-order-overlay" class="overlay">
			<div class="modal-view sm-m-v">
				<h2 class="modal-header">Make Purchase Order</h2>
				<div class="modal-body">
					<h3 id="c-details" class="c-details-mv"></h3>
					<p id="body-type" class="c-b-type"></p>
					<p id="car-price" class="c-price"></p>
					<form class="purchase-order-form">
						<div class = "input-field single">
							<label for="">Offering Price(&#8358):</label><br>
							<input type="text" class="price" data-type="number" min="1000" placeholder="Offering Price(&#8358):">
						</div>
						<div class="btn-group flex-container">
							<button id="place-order" class="half-btn btn">Place Order</button>
							<button id="close-purchase-modal" class="half-btn btn">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Modal view for flagging/report a posted AD as fraudulent -->
		<div id="fraudulent-flag-overlay" class="overlay">
			<div class="modal-view sm-m-v">
				<h2 class="modal-header">Mark AD as Fradulent</h2>
				<div class="modal-body">
					<h3 id="c-details" class="c-details-mv">New Volkswagen Cx3 - 2001</h3>
					<p id="body-type" class="c-b-type">(Large Van)</p>
					<p id="car-price" class="c-price">Price: &#8358 13,000,000</p>
					<form>
						<div class = "input-field single">
							<label for="">Reason:</label><br>
							<select name="flag-reason">
								<option value="">--</option>
								<option value="pricing">Pricing</option>
								<option value="weird-demands">Weird Demands</option>
								<option value="stolen">Stolen</option>
								<option value="others">Others</option>
							</select>
						</div>
						<div class = "input-field single">
							<label for="">Description:</label><br>
							<textarea id="flag-desc" name="flag-desc" maxlength="200" placeholder="Description:"></textarea>
						</div>
						<div class="btn-group flex-container">
							<button class="half-btn btn">Flag/Report AD</button>
							<button id="close-fraud-modal" class="half-btn btn">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Modal view for All Notifications -->
		<div id="notification-overlay" class="overlay">
			<div class="modal-view sm-m-v">
				<h2 class="modal-header">Notification</h2>
				<div class="modal-body">
					<div class="message"></div>
					<button class="full-btn btn close-notification">Close</button>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<script src="/js/general.js"></script>
		<script src="/js/filter-response.js"></script>
		<script src="/js/marketplace.js"></script>
	</body>
</html>