<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0">
		<meta name="description" content="Auto Mart is an online marketplace for automobiles of diverse makes, model or body type. With Auto Mart, users can sell their cars or buy from trusted dealerships or private sellers.">
		<title>Registered Users - Auto Mart</title>

		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
		
		<link href="/css/general.css" rel="stylesheet">
		<link href="/css/users-list.css" rel="stylesheet">
		
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>
	<body>
		<div class="container">
			<header>
				<nav>
					<a href="./index"><img src="/images/automart-full-logo-250px.png" width="150"></a>
					<div class="menu-bar">
						<span class="menu-btn"><i class="fa fa-bars"></i><i class="fa fa-times hide"></i></span>
						<ul class="menu-list">
							<li class="current"><a href="./users-list">Registered Users</a></li>
							<li><a href="./admin">Posted Car Ads</a></li>
							<li class="dropdown">
								<span class="user-info">
									<span class="user-avater fas fa-user-circle"></span> <i class="fa fa-caret-down"></i>
								</span>
								<ul class="dropdown-list">
									<li class="signin-as"><p>You are signed in as:<br><span class="user-name"></span></p></li><li><a href="javascript:void(0)">Your Profile</a></li>
									<li><a href="javascript:void(0)" class="logout">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<div class="content">
				<main class="main-100">
					<h2>All Registered Users</h2>
					<ul class="users-list">
						<!-- <li class="user-list-item flex-container">
							<div class="user-details p-15">
								<h3 class="user-name"><b>User Id:</b> 3. <b>Name:</b> Chuksjoe Orjiakor</h3>
								<p class="last-online"><b>Last online:</b> Tues, 13 June 2019 05:45pm</p>
								<p>
									<span class="email"><b>Email:</b> chuksjoe@live.com, </span>
									<span class="created-on"><b>Registered on:</b> Tues, 13 June 2019 05:45pm, </span>
								</p>
								<p>
									<span class="ad-count"><b>Number of posted Ads:</b> 5, </span>
									<span class="order-count"><b>Number of purchase orders:</b> 2</span>
								</p>
							</div>
							<div class="admin-actions p-15">
								<button class="suspend full-btn btn">Suspend User</button>
								<button class="delete full-btn btn">Delete Account</button>
							</div>
						</li> -->
					</ul>
				</main>
			</div>
			
			<footer>
				<div class="inner-div">
					<p>Auto-Mart 2019 &#169</p>
					<div class="footer-right">
						<p>ADC Project by</p>
						<ul>
							<a href="https://twitter.com/Chuksjoe" target="_blank"><li><i class="fab fa-twitter" aria-hidden="true"></i></li></a>
							<a href="https://www.linkedin.com/in/chukwunonso-orjiakor" target="_blank"><li><i class="fab fa-linkedin-in" aria-hidden="true"></i></li></a>
							<a href="https://github.com/chuksjoe" target="_blank"><li><i class="fab fa-github" title="chuksjoe's DEV Profile"></i></li></a>
							<a href="https://codepen.io/chuksjoe" target="_blank"><li><i class="fab fa-codepen" title="chuksjoe's DEV Profile"></i></li></a>
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<!-- Modal view for All Notifications -->
		<div id="notification-overlay" class="overlay">
			<div class="modal-view sm-m-v">
				<h2 class="modal-header">Notification</h2>
				<div class="modal-body">
					<div class="message"></div>
					<button class="full-btn btn close-notification">Close</button>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<script src="/js/general.js"></script>
		<script src="/js/users-list.js"></script>
	</body>
</html>