.signup-form-container {
	background-color: #fff;
	max-width: 700px;
	margin: 110px auto;
	padding: 20px;
}

.signin-form-container {
	background-color: #fff;
	max-width: 400px;
	margin: 150px auto 120px;
	padding: 20px;
}

h1 {
	text-align: center;
}
.input-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.input-field{
	margin: 2px 0px 10px 0px;
	width: 55%;
}
.single{
	width: 100%;
}
.input-field label{
	opacity: 1.0;
	font-size: 14px;
	margin-bottom: 2px;
}
.input-field input{
	width: 100%;
	display: block;
	border: none;
	outline: none;
	border: 1px solid #abadb3;
	padding: 10px
}
.input-field input:focus, .input-field input:hover{
	background: #e7e7e7;
	border: 1px solid #005795;
}
.note{
	font-size: 12px;
	color: #1B3F7D;
}