.signup-form-container {
	background-color: #fff;
	max-width: 700px;
	margin: 110px auto 50px;
	padding: 20px;
}

.signin-form-container {
	background-color: #fff;
	max-width: 400px;
	margin: 150px auto 120px;
	padding: 20px;
}

h1 {
	text-align: center;
}