* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
	"Open Sans", helvetica, verdana, sans-serif;
	font-size: 1rem;
}

header {
	width: 100%;
	z-index: 100;
}

header nav, footer div {
	max-width: 1200px;
	margin: 0 auto;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}
nav ul li {
	margin: 0px 10px;
}
nav ul li a {
	text-decoration: none;
	font-size: 1.3rem;
	color: #fff;
}
a:hover {
	text-decoration: underline;
}
main {
	padding: 0 20px;
}
footer {
	width: 100%;
	background-color: #fff;
	font-size: 0.8rem;
}

input[type="submit"],
button {
	width: 100%;
	font-size: 1rem;
	padding: 10px;
	margin-top: 20px;
	background-color: #0069D9;
	color: #fff;
	outline: none;
	border: none;
}
input[type="submit"]:hover,
button:hover {
	background-color: #2993E2;
	transition: all 0.3s ease-out;
}