* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  background-color: #eee;
  min-width: 350px;
}
.no-scroll {
  overflow: hidden;
}
.hide {
  display: none;
}

/*General Navigation bar styling*/
header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.menu-bar {
  margin-top: 10px;
}
.menu-btn {
  display: none;
  color: #fff;
  padding: 0 10px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}
.menu-btn:hover {
  color: #000;
  background-color: #fff;
}
.menu-list li {
  margin: 0px 10px;
  padding-bottom: 10px;
}
li.current {
  border-bottom: 2px solid #fff;
  padding-top: 2px;
}
.menu-list li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}
.menu-list li a:hover {
  text-decoration: underline;
}
li.current a {
  color: #aaa;
}
li.current a:hover {
  text-decoration: none;
}
li.current ul.dropdown-list a {
  color: #fff;
}
li.current ul.dropdown-list a:hover {
  text-decoration: underline;
}
li.current ul.dropdown-list .here {
  background-color: #aaa;
  padding: 0 10px 10px;
  margin: 0;
}
li.current ul.dropdown-list .here a:hover {
  text-decoration: none;
}
.dropdown {
  position: relative;
}
.dropdown:hover ul.dropdown-list {
  display: block;
}
ul.dropdown-list {
  position: absolute;
  list-style: none;
  padding: 10px 0 0;
  display: none;
  width: 180px;
  top: 37px;
  right: 0;
  background-color: rgba(41, 147, 226, 1);
  box-shadow: 0 0 3px #333;
  color: #fff;
  z-index: 11;
}
.dropdown-list li a:hover {
  color: #fff;
}
.dropdown li p {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  color: gold;
}

/*General containers styling*/
header nav,
footer .inner-div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 100%;
  height: 100%;
}
.content {
  max-width: 1300px;
  padding: 40px 20px;
  margin: 69px auto 0;
  display: flex;
  justify-content: space-between;
}
.main-100 {
  width: 100%;
  padding: 0 20px;
}
.main-75 {
  width: 75%;
  padding: 0 0 0 20px;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*General footer styling */
footer {
  width: 100%;
  background-color: #fff;
  font-size: 0.8rem;
}
.footer-right {
  display: flex;
}
.footer-right ul {
  list-style: none;
  width: 110px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 8px 0 0 5px;
  height: 26px;
}
.footer-right ul li {
  width: 25px;
  height: 25px;
  padding: 4px 6px;
  background-color: #aaa;
  border-radius: 4px;
  color: #fff;
}
.footer-right ul li:hover {
  background-color: #777;
}

@media only screen and (max-width: 750px) {
  .menu-list {
    display: none;
    width: 100%;
    position: absolute;
    top: 67px;
    left: 0;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  .menu-list li {
    padding: 10px 10px;
  }
  .menu-list li:hover {
    background-color: #2993e2;
  }
  li.signin-as:hover {
    background-color: #000;
  }
  .menu-btn {
    display: block;
  }
  ul.dropdown-list {
    position: static;
    display: none;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    color: #fff;
  }
}
