body {
	background-color: #eee;
}
header {
	background-color: #000;
	position: fixed;
	top: 0;
}
.content {
	max-width: 1300px;
	padding: 40px 20px;
	margin: 69px auto 0;
	display: flex;
	justify-content: space-between;
}

/*filter sidebar*/
.filter-sidebar {
	width: 25%;
	background-color: #fff;
}
.filter-sidebar h2 {
	background-color: #333;
	color: #fff;
	padding: 15px;
	margin: 0;
}
.filter-attr {
	padding: 15px;
	width: 100%;
	border-bottom: 2px solid #eee;
}
.filter-attr h3 {
	margin: 0 0 10px;
}
.car-state-group,
.price-range {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.car-state-group label {
	width: 33%;
}
.price-range input {
	font-size: 1rem;
	padding: 5px 10px;
	width: 49%;
}
.manufacturer-group,
.body-type-group {
	width: 100%;
	max-height: 200px;
	overflow: auto;
}
.manufacturer-group label,
.body-type-group label {
	width: 100%;
	display: block;
	margin-bottom: 5px;
}

main {
	width: 75%;
	padding-right: 0;
}