.car-list-item {
  width: 32%;
  background-color: #fff;
  margin-bottom: 30px;
}
#purchase-order-overlay {
  z-index: 101;
}

@media only screen and (max-width: 1090px) {
	.filter-sidebar {
		width: 30%;
	}
	.main-75 {
		width: 70%;
	}
	.car-list-item {
		width: 48%;
	}
}
@media only screen and (max-width: 800px) {
	.filter-sidebar,
	.main-75 {
		width: 100%;
	}
	.car-list-item {
		width: 48%;
	}
}
@media only screen and (max-width: 550px) {
	.car-list-item {
		width: 100%;
	}
}