.user-actions {
  padding: 0 15px 10px;
  width: 20%;
  border-left: 2px solid #eee;
}
.preview-ad {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media only screen and (max-width: 1090px) {
	.user-actions {
		width: 100%;
		border-left: none;
		border-top: 2px solid #eee;
	}
}