h2 {
	text-align: center;
}

.user-list-item {
	max-width: 1000px;
	margin: 0 auto 10px;
	background-color: #fff;
	list-style: none;
	padding: 15px;
	box-shadow: 0 0 3px #333;
}
.user-name {
	margin-bottom: 10px;
}
.user-details p {
	margin: 5px 0;
}
.user-details span {
	display: inline-block;
}